<h2><%= general.name %> の情報</h2>

<p>所属国：<%= country ? country.name : "無所属" %></p>

<ul>
  <li>武力：<%= general.str %></li>
  <li>知力：<%= general.int %></li>
  <li>統率：<%= general.lea %></li>
  <li>魅力：<%= general.cha %></li>
</ul>

<a href="/countries">国一覧</a>
